.About_background {
  min-height: 80vh;
  width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../Assets/About_BG.png");
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.About_Content_Container {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.Inner_Container_First {
  width: 60%;
}
.Inner_Container_Second {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  justify-content: space-between;
}
.About_Text {
  font-size: 4rem;
  color: white;
  font-family: var(--font-Heading);
}
.About_Paragraph_Text {
  font-size: 1.3rem;
  color: #fffbfb;
  margin-top: 30px;
  text-align: justify;
  line-height: 1.5;
  font-family: var(--font-subHeading);
}

.ABout_Discover {
  padding: 12px 12px;
  font-size: 12px;
  background-color: #ffffff;
  color: #ed1b24;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--font-Heading);
}

.ABout_Discover:hover {
  background-color: #ed1b24;
  color: #ffffff;
  transition: ease-in 0.3s all;
}
.About_Btn_Container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.About_See_Text {
  color: #fffbfb;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: var(--font-Heading);
}
.About_Arrow_Container {
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in 0.3s all;
}
.About_Arrow_Container:hover .About_See_Text {
  transition: ease-in 0.3s all;
  color: #ed1b24;
}
.About_Arrow_Container:hover #About_Button_Arrow {
  fill: #ed1b24;
  stroke: #ed1b24;
  transition: ease-in 0.3s all;
}

.About_Icon_Wrapper {
  margin-left: 10px;
}
.About_Count_Text {
  color: #fffbfb;
  font-size: 3.3rem;
  text-align: center;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: var(--font-subHeading);
}
.About_Project_Text {
  font-size: 1.3rem;
  color: #fffbfb;
  text-align: center;
  padding-bottom: 5px;
  font-family: var(--font-subHeading);
}
.About_Paragraph_Text_Inner {
  font-size: 1.3rem;
  color: #fffbfb;
  text-align: center;
  padding-bottom: 15px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-subHeading);
}
.About_Date_Text {
  font-size: 3rem;
  color: #fffbfb;
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-family: var(--font-subHeading);
}
.About_Help_Text {
  font-size: 1.3rem;
  color: #fffbfb;
  text-align: center;
  padding-top: 5px;
  font-family: var(--font-subHeading);
}
.About_Paragraph_Text_Inner_Schedule {
  font-size: 1.3rem;
  color: #fffbfb;
  text-align: center;
  padding-top: 5px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  font-family: var(--font-subHeading);
}

.About_Count_Text_1 {
  color: white;
  font-size: 3.3rem;
  text-align: center;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: var(--font-subHeading);
}
.About_Project_Text_1 {
  font-size: 1.3rem;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  font-family: var(--font-subHeading);
}
.About_Paragraph_Text_Inner_1 {
  font-size: 1.3rem;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-subHeading);
}

.About_Loaction_Count_Container_1 {
  border-radius: 10px;
  padding: 2%;
  width: 80%;
  cursor: default;
  padding-bottom: 5px;
}
.About_Loaction_Count_Container_1:hover {
  background-color: white;
  transition: ease-in 0.3s all;
}
.About_Loaction_Count_Container_1:hover div {
  color: black;
  transition: ease-in 0.3s all;
}
.About_Loaction_Count_Container_1_Active {
  border-radius: 10px;
  padding: 2%;
  width: 80%;
  cursor: default;
  background-color: white;
  transition: ease-in 0.3s all;
}
.About_Loaction_Count_Container_1_Active div {
  color: black;
  transition: ease-in 0.3s all;
}
.About_Loaction_Count_Container_2 {
  border-radius: 10px;
  padding: 2%;
  width: 80%;
  cursor: default;
}
.About_Loaction_Count_Container_2:hover {
  background-color: white;
  transition: ease-in 0.3s all;
}

.About_Loaction_Count_Container_2:hover div {
  color: black;
  transition: ease-in 0.3s all;
}

.About_Loaction_Count_Container_3 {
  border-radius: 10px;
  padding: 2%;
  width: 80%;
  cursor: default;
}
.About_Loaction_Count_Container_3:hover {
  background-color: white;
  transition: ease-in 0.3s all;
}
.About_Loaction_Count_Container_3:hover div {
  color: black;
  transition: ease-in 0.3s all;
}

@media screen and (max-width: 550px) {
  .About_background {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../Assets/About_BG.png");
    overflow: hidden;
    margin-top: 0;
    padding-top: 80px;
    margin-bottom: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
  }
  .About_Content_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .Inner_Container_First {
    width: 85%;
  }
  .About_Text {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    font-family: var(--font-Heading);
  }
  .About_Paragraph_Text {
    font-size: 1.4rem;
    font-family: var(--font-subHeading);
  }
  .About_Btn_Container {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: space-between;
  }
  .About_Arrow_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50%;
  }
  .ABout_Discover {
    padding: 13px 12px;
    font-size: 12px;
    background-color: #ffffff;
    color: #ed1b24;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-Heading);
  }
  .Inner_Container_Second {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: green; */
    justify-content: space-evenly;
  }
  .About_Loaction_Count_Container {
    background-color: white;
    border-radius: 10px;
    margin-left: 12%;
    margin-right: 12%;
    padding: 5% 0;
  }
}

@media screen and (min-width: 551px) and (max-width: 850px) {
  .About_background {
    height: 100%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../Assets/About_BG.png");
    overflow: hidden;
    margin-top: 0;
    padding-top: 80px;
    margin-bottom: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  .About_Content_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .Inner_Container_First {
    width: 85%;
  }
  .About_Text {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    font-family: var(--font-Heading);
  }
  .About_Paragraph_Text {
    font-size: 1.4rem;
    font-family: var(--font-subHeading);
  }
  .About_Btn_Container {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
  }
  .ABout_Discover {
    padding: 13px 12px;
    font-size: 12px;
    background-color: #ffffff;
    color: #ed1b24;
    width: 25%;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-Heading);
  }
  .Inner_Container_Second {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: green; */
    justify-content: space-evenly;
  }
}
