.Product_background {
  min-height: 100vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main_Content_Conatiner {
  min-height: 90vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: green; */
  padding-bottom: 100px;
  padding-top: 100px;
}
.product_Text_Container {
  width: 60%;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
}
.Benefit_Text {
  color: #ed1b24;
  font-size: 3rem;
  text-align: center;
  font-family: var(--font-Heading);
}
.Design_Text {
  color: black;
  font-size: 4rem;
  text-align: center;
  font-family: var(--font-Heading);
}
.Product_Paragraph {
  color: #393939;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-family: var(--font-subHeading);
}
.Product_Experience_Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 50px;
  /* background-color: green; */
}
.Exp_Container {
  width: 45%;
  /* background-color: green; */
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in 0.3s all;
}
.Product_Exp_Text {
  font-size: 2.2rem;
  color: black;
  font-family: var(--font-Heading);
}
.Pro_Pagragraph {
  font-size: 1.3rem;
  color: black;
  padding-top: 5px;
  font-family: var(--font-subHeading);
  text-align: justify;
}
.Exp_Container:hover {
  background-color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Exp_Container:hover .Product_Exp_Text {
  color: white;
}
.Exp_Container:hover .Pro_Pagragraph {
  color: white;
}

.Product_Exp_Text_Container {
  margin-left: 15px;
}
.Product_Btn_Container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.Product_Discover {
  padding: 12px;
  font-size: 12px;
  background-color: #ed1b24;
  color: white;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-family: var(--font-Heading);
}

.Product_Arrow_Container {
  display: flex;
  margin-left: 20px;
  align-items: center;
  cursor: pointer;
  transition: ease-in 0.3s all;
}
.Product_Arrow_Container:hover .Product_See_Text {
  transition: ease-in 0.3s all;
  color: #ed1b24;
  font-family: var(--font-Heading);
}
.Product_Arrow_Container:hover #Button_Arrow {
  fill: #ed1b24;
  stroke: #ed1b24;
  transition: ease-in 0.3s all;
}

.Product_See_Text {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: var(--font-Heading);
}
.Product_Btn_Main_Container {
  display: flex;
  justify-content: center;
}
.Icons_Wrapper {
  height: auto;
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}

@media screen and (max-width: 550px) {
  .Product_background {
    min-height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    /* background-color: green; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
  }

  .Main_Content_Conatiner {
    min-height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    overflow: hidden;
  }

  .product_Text_Container {
    width: 100%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
  }
  .Benefit_Text {
    color: #ed1b24;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    font-family: var(--font-Heading);
  }
  .Design_Text {
    color: black;
    font-size: 2.8rem;
    text-align: center;
    font-family: var(--font-Heading);
  }
  .Product_Paragraph {
    color: #393939;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    padding-top: 15px;
    font-family: var(--font-subHeading);
  }

  .Product_Experience_Container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 50px;
    /* background-color: red; */
  }
  .Exp_Container {
    width: 100%;
    /* background-color: green; */
    margin-left: 0;
    margin-top: 0;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in 0.3s all;
  }

  .Product_Btn_Main_Container {
    display: flex;
    justify-content: center;
  }
  .Product_Btn_Container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 25px;
    /* background-color: green; */
    justify-content: space-evenly;
  }
  .Product_Discover {
    padding: 14px;
    font-size: 12px;
    background-color: #ed1b24;
    color: white;
    width: 150px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-family: var(--font-Heading);
  }
}

@media screen and (min-width: 551px) and (max-width: 850px) {
  .Product_background {
    min-height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    /* background-color: green; */
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
  }
  .Main_Content_Conatiner {
    min-height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    overflow: hidden;
    /* background-color: red; */
  }
  .product_Text_Container {
    width: 100%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
  }
  .Benefit_Text {
    color: #ed1b24;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    font-family: var(--font-Heading);
  }
  .Design_Text {
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: var(--font-Heading);
  }
  .Product_Paragraph {
    color: #393939;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    padding-top: 15px;
    font-family: var(--font-subHeading);
  }
  .Product_Experience_Container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 50px;
    /* background-color: red; */
  }
  .Exp_Container {
    width: 90%;
    /* background-color: green; */
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in 0.3s all;
  }
  .Product_Btn_Main_Container {
    display: flex;
    justify-content: center;
  }
  .Product_Btn_Container {
    display: flex;
    width: 45%;
    flex-direction: row;
    margin-top: 25px;
    /* background-color: green; */
    justify-content: space-evenly;
  }
  .Product_Discover {
    padding: 15px;
    font-size: 12px;
    background-color: #ed1b24;
    color: white;
    width: 160px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-family: var(--font-Heading);
  }
}
