.Header_background {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  /* background-color: green; */
  overflow: hidden;
  position: relative;
}
.Header_Image_background {
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../Assets/Header_BG1.png");
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 20rem;
  overflow: hidden;
}

.Imge_wrapper_Header {
  height: auto;
  width: 35%;
}
.Imge_wrapper_Header img {
  height: auto;
  width: 100%;
}
.paragraph {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: justify;
  font-family: var(--font-subHeading);
  font-weight: 500;
}
.Btn_wrapper {
  width: 50%;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 555;
}
.Discover {
  padding: 12px 8px;
  font-size: 1.3rem;
  background-color: #ffffff;
  color: #ed1b24;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  width: 150px;
  font-weight: bold;
  font-family: var(--font-Heading);
}
.Discover:hover {
  background-color: #ed1b24;
  color: #ffffff;
  transition: ease-in 0.3s all;
}
.Header_Pro_Bg {
  background-image: url("../../Assets/Pro_BG.png");
  height: 550px;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25rem;
}
.Header_bottom_container {
  /* padding: 25px; */
  width: 100%;
  background-color: #f0f0f0;
  position: absolute;
  display: flex;
  margin-top: -10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.mySwiperHeader {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.HeaderSlider_Card {
  height: 100px;
  width: 100px;
}

.Animation_Wrapper {
  display: flex;
  width: 100%;
}

.Header_Bottom_Image_Container img {
  padding-left: 30px;
}
.Header_Bottom_Image_Container {
  height: 100px;
  background-color: #f0f0f0;
  width: 100%;
}

.cout_Text {
  font-size: 3.3rem;
  text-align: center;
  font-family: var(--font-Heading);
  font-weight: bold;
}
.text_Wrapper {
  margin-top: 20px;
}
.header_Pro_Bg_Text {
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--font-Heading);
}

.DisriProject_Container {
  background-color: #ffffff;
  border-radius: 15px;
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.DisriProject_Container:hover {
  background-color: #ed1b24;
  transition: ease-in 0.5s all;
}

.icon_Container {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ed1b24;
  border-radius: 50px;
  margin-top: -10px;
}
.DisriProject_Container:hover .icon_Container {
  background-color: white;
  transition: ease-in 0.5s all;
}

.DisriProject_Container:hover #gif_Icon {
  fill: black;
  transition: ease-in 0.5s all;
}
.DisriProject_Container:hover .label_Text {
  color: white;
  transition: ease-in 0.5s all;
}

.label_Text {
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: var(--font-Heading);
}
.Header_Conatiner {
  width: 80%;
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto;
}
.Header_Text_Container {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}
.No_Project_Conatiner {
  height: 100%;
  background-color: white;
  width: 30rem;
  position: absolute;
  right: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text_Container {
  display: flex;
  flex-direction: column;
  margin-top: -100px;
}

.marquee {
  height: 120px;
  width: 100%;
  border: 2px solid #eee;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}

.marquee--inner {
  width: 200%;
  margin: 70px 0;
  position: absolute;
  animation: marquee 15s linear infinite;
  display: flex;
  flex-direction: row;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

span {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.Image_1 {
  height: 50px;
  width: 150px;
  background-image: url("../../Assets/Image_1_Gray.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
  margin-top: 5px;
  /* background-color: green; */
}
.Image_1:hover {
  height: 50px;
  width: 150px;
  background-image: url("../../Assets/Image_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
}
.Image_2 {
  height: 55px;
  width: 100px;
  background-image: url("../../Assets/Image_2_Gray.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
  /* background-color: red; */
}
.Image_2:hover {
  height: 55px;
  width: 100px;
  background-image: url("../../Assets/Image_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
}
.Image_3 {
  height: 55px;
  width: 130px;
  background-image: url("../../Assets/Image_3_Gray.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
  /* background-color: yellow; */
}
.Image_3:hover {
  height: 55px;
  width: 130px;
  background-image: url("../../Assets/Image_3.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
}
.Image_4 {
  height: 50px;
  width: 120px;
  background-image: url("../../Assets/Image_4_Gray.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
  /* background-color: aqua; */
}
.Image_4:hover {
  height: 50px;
  width: 120px;
  background-image: url("../../Assets/Image_4.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
}
.Image_5 {
  height: 55px;
  width: 150px;
  background-image: url("../../Assets/Image_5_Gray.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
  /* background-color: brown; */
}
.Image_5:hover {
  height: 55px;
  width: 150px;
  background-image: url("../../Assets/Image_5.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s all;
  align-self: center;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .Header_background {
    height: 100%;
    width: 100%;
    /* background-color: green; */
    overflow: hidden;
    position: relative;
    padding-bottom: 95px;
  }
  .Header_Image_background {
    height: 125vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20rem;
    overflow: hidden;
  }
  .Header_Conatiner {
    width: 80%;
    margin: 0 auto;
    margin-top: 12rem;
  }
  .Header_Text_Container {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }
  .Btn_wrapper {
    width: 100%;
    padding: 0;
    /* background-color: green; */
  }
  .paragraph {
    font-size: 1.8rem;
    color: black;
    text-align: justify;
    padding-top: 15px;
    line-height: 1.5;
  }
  .Discover {
    padding: 12px 8px;
    font-size: 12px;
    color: white;
    width: 155px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    background-color: #ed1b24;
  }
  .Header_Pro_Bg {
    background-image: url("../../Assets/Pro_BG.png");
    height: 600px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 25px;
  }
  .DisriProject_Container {
    background-color: #ffffff;
    border-radius: 10px;
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .icon_Container {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed1b24;
    border-radius: 50px;
    margin-top: -10px;
  }
  .label_Text {
    font-size: 1.5rem;
    margin-top: 10px;
    font-family: var(--font-Heading);
  }
  .No_Project_Conatiner {
    width: 100%;
    background-color: white;
    height: 18rem;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .text_Container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    padding-top: 35px;
  }
  .text_Wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  .Imge_wrapper_Header {
    height: auto;
    width: 100%;
  }
  .Imge_wrapper_Header img {
    height: auto;
    width: 100%;
  }
  .cout_Text {
    font-size: 3.5rem;
    text-align: center;
    font-family: var(--font-Heading);
    font-weight: bold;
  }
  .header_Pro_Bg_Text {
    font-size: 1.5rem;
    padding-top: 10px;
    text-align: center;
    font-family: var(--font-Heading);
  }
  .Header_bottom_container {
    padding: 5px;
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }

  .marquee {
    height: 100px;
    width: 100%;
    border: 2px solid #eee;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
  }

  .Image_1 {
    height: 40px;
    width: 150px;
    background-image: url("../../Assets/Image_1_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-top: 15px;
    /* background-color: green; */
    margin-left: 50px;
  }
  .Image_1:hover {
    height: 40px;
    width: 150px;
    background-image: url("../../Assets/Image_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
  .Image_2 {
    height: 40px;
    width: 100px;
    background-image: url("../../Assets/Image_2_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    /* background-color: red; */
    margin-left: 50px;
  }
  .Image_2:hover {
    height: 40px;
    width: 100px;
    background-image: url("../../Assets/Image_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
  .Image_3 {
    height: 40px;
    width: 130px;
    background-image: url("../../Assets/Image_3_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    /* background-color: yellow; */
    margin-left: 50px;
  }
  .Image_3:hover {
    height: 40px;
    width: 130px;
    background-image: url("../../Assets/Image_3.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
  .Image_4 {
    height: 40px;
    width: 120px;
    background-image: url("../../Assets/Image_4_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    /* background-color: aqua; */
    margin-left: 50px;
  }
  .Image_4:hover {
    height: 40px;
    width: 120px;
    background-image: url("../../Assets/Image_4.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
  .Image_5 {
    height: 40px;
    width: 150px;
    background-image: url("../../Assets/Image_5_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    /* background-color: brown; */
    margin-left: 50px;
  }
  .Image_5:hover {
    height: 40px;
    width: 150px;
    background-image: url("../../Assets/Image_5.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
}

@media screen and (min-width: 551px) and (max-width: 850px) {
  .Header_background {
    height: 100%;
    width: 100%;
    /* background-color: green; */
    overflow: hidden;
    position: relative;
    padding-bottom: 95px;
  }

  .Header_Image_background {
    height: 125vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20rem;
    overflow: hidden;
  }
  .Header_Image_background {
    height: 125vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20rem;
    overflow: hidden;
  }
  .Header_Conatiner {
    width: 100%;
    margin: 0 auto;
    margin-top: 12rem;
  }
  .Header_Text_Container {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
  }
  .Imge_wrapper_Header {
    height: auto;
    width: 80%;
  }
  .Imge_wrapper_Header img {
    height: auto;
    width: 100%;
  }
  .Btn_wrapper {
    width: 100%;
    padding: 0;
  }
  .paragraph {
    font-size: 1.9rem;
    color: black;
    text-align: justify;
    padding-top: 15px;
    line-height: 1.5;
  }
  .Discover {
    padding: 12px 8px;
    font-size: 12px;
    color: white;
    width: 155px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    background-color: #ed1b24;
  }
  .Header_Pro_Bg {
    background-image: url("../../Assets/Pro_BG.png");
    height: 600px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 160px;
  }
  .No_Project_Conatiner {
    width: 100%;
    background-color: white;
    height: 19rem;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .text_Container {
    width: 35%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    padding-top: 40px;
    justify-content: space-between;
  }
  .cout_Text {
    font-size: 3.5rem;
    text-align: center;
    font-family: var(--font-Heading);
    font-weight: bold;
  }
  .header_Pro_Bg_Text {
    font-size: 1.5rem;
    padding-top: 10px;
    text-align: center;
    font-family: var(--font-Heading);
  }
  .Header_bottom_container {
    padding: 5px;
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
  .marquee {
    height: 120px;
    width: 100%;
    border: 2px solid #eee;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
  }
  .Image_1 {
    height: 40px;
    width: 150px;
    background-image: url("../../Assets/Image_1_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-top: 15px;
    /* background-color: green; */
    margin-left: 50px;
  }
  .Image_1:hover {
    height: 40px;
    width: 150px;
    background-image: url("../../Assets/Image_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
  .Image_2 {
    height: 40px;
    width: 100px;
    background-image: url("../../Assets/Image_2_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    /* background-color: red; */
    margin-left: 50px;
  }
  .Image_2:hover {
    height: 40px;
    width: 100px;
    background-image: url("../../Assets/Image_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
  .Image_3 {
    height: 40px;
    width: 130px;
    background-image: url("../../Assets/Image_3_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    /* background-color: yellow; */
    margin-left: 50px;
  }
  .Image_3:hover {
    height: 40px;
    width: 130px;
    background-image: url("../../Assets/Image_3.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
  .Image_4 {
    height: 40px;
    width: 120px;
    background-image: url("../../Assets/Image_4_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    /* background-color: aqua; */
    margin-left: 50px;
  }
  .Image_4:hover {
    height: 40px;
    width: 120px;
    background-image: url("../../Assets/Image_4.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
  .Image_5 {
    height: 40px;
    width: 150px;
    background-image: url("../../Assets/Image_5_Gray.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    /* background-color: brown; */
    margin-left: 50px;
  }
  .Image_5:hover {
    height: 40px;
    width: 150px;
    background-image: url("../../Assets/Image_5.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in 0.3s all;
    align-self: center;
    cursor: pointer;
    margin-left: 50px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1300px) {
  .paragraph {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: justify;
    font-family: var(--font-subHeading);
    font-weight: 500;
  }
  .Imge_wrapper_Header {
    height: auto;
    width: 50%;
  }
  .Imge_wrapper_Header img {
    height: auto;
    width: 100%;
  }
}
