.Footer_Main_Conatiner {
  background-color: white;
  height: 100%;
  width: 100%;
}
.Footer_Bg_Container {
  height: 100%;
  width: 100%;
  min-height: 750px;
  margin-top: 100px;
  background-image: url("../../Assets/Footer_Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}
.Footer_Content_Main_Container {
  min-height: 50vh;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: red; */
}
.Footer_Wrapper_Content {
  width: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: -90px;
}
.Footer_Loaction_Content_Conatiner {
  width: 49%;
  box-sizing: border-box;
  padding: 25px;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  cursor: default;
}
.Footer_Place_Name_Text {
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
  font-family: var(--font-Heading);
}
.Footer_Place_Address_Text {
  font-size: 1.5rem;
  color: white;
  transition: ease-in-out 0.2s all;
  font-family: var(--font-subHeading);
}
.Footer_Text_Wrapper {
  padding-left: 10px;
}
.Icons_Wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer_Loaction_Content_Conatiner:hover {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: 400;
  transition: ease-in-out 0.3s all;
}
.Footer_Loaction_Content_Conatiner:hover .Footer_Place_Name_Text {
  color: black;
}
.Footer_Loaction_Content_Conatiner:hover .Footer_Place_Address_Text {
  color: black;
}
.Contact_Footer_Social_Main_Container {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}
.Contact_Sub_Text {
  font-size: 3rem;
  color: black;
  font-family: var(--font-Heading);
}
.input_container_Footer {
  border: 0.5px solid #666666;
  width: 25vw;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: white;
  display: flex;
}
.input_Email_Footer {
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  flex-grow: 1;
  font-size: 1.7rem;
  width: 100%;
  background-color: white;
}

.input_container_Footer:hover {
  border: 0.5px solid #ed1b24;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Footer_Sub_Button {
  border: none;
  outline: none;
  width: 15vw;
  height: 40px;
  background-color: #ed1b24;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 5px;
  font-family: var(--font-Heading);
}

.Contact_Footer_Social_Icons_Container {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  padding: 50px 0px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.Footer_Links_Conatiner {
  display: flex;
  width: 30%;
  justify-content: space-between;
  cursor: pointer;
}
.Footer_Icons_Conatiner {
  display: flex;
  width: 23%;
  justify-content: space-between;
  cursor: pointer;
}

.FaceBook:hover #facebook {
  fill: #ed1b24;
  transition: ease-in-out 0.2s all;
}
.Twitter:hover #twitter {
  fill: #ed1b24;
  transition: ease-in-out 0.2s all;
}
.Vimeo:hover #vimeo {
  fill: #ed1b24;
  transition: ease-in-out 0.2s all;
}
.Youtube:hover #youtube {
  fill: #ed1b24;
  transition: ease-in-out 0.2s all;
}

.Footer_Link_Text {
  font-size: 1.8rem;
  color: black;
  font-family: var(--font-Heading);
}
.Footer_Link_Text:hover {
  color: #ed1b24;
  transition: ease-in-out 0.3s all;
}

.Footer_Terms_Condition_Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}
.Footer_Terms_Wrapper {
  display: flex;
}
.Footer_Righs_Reserved_Text {
  font-size: 1.7rem;
  color: black;
  font-family: var(--font-subHeading);
}
.Footer_Text {
  font-size: 1.7rem;
  color: black;
  padding-left: 20px;
  cursor: pointer;
  font-family: var(--font-subHeading);
}
.Footer_Text:hover {
  color: #ed1b24;
}
.Footer_Divider {
  height: 1px;
  width: 100%;
  background-color: #666666;
}

@media screen and (max-width: 550px) {
  .Footer_Main_Conatiner {
    background-color: white;
    min-height: 200vh;
    width: 100%;
    /* overflow: hidden; */
  }
  .Footer_Bg_Container {
    width: 100%;
    height: 1350px;
    margin-top: 100px;
    background-image: url("../../Assets/Footer_Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    /* overflow: hidden; */
  }
  .Footer_Content_Main_Container {
    min-height: 50vh;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
  }
  .Footer_Loaction_Content_Conatiner {
    width: 90%;
    box-sizing: border-box;
    padding: 25px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    cursor: default;
  }
  .Footer_Place_Name_Text {
    font-size: 2rem;
    color: white;
    font-family: var(--font-Heading);
  }
  .Footer_Place_Address_Text {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    transition: ease-in-out 0.2s all;
    font-family: var(--font-subHeading);
  }
  .Footer_Wrapper_Content {
    width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: -15px;
    /* background-color: red; */
  }
  .Contact_Footer_Social_Main_Container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
  }
  .Contact_Sub_Text {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    width: 70%;
    text-align: center;
    margin-top: 15px;
  }
  .Contact_Sub_Button_Main_Container {
    width: 90%;
  }
  .input_container_Footer {
    border: 0.5px solid #666666;
    width: 100%;
    border-radius: 5px;
    padding: 3px 3px;
    background-color: white;
    display: flex;
    margin-top: 20px;
  }
  .Footer_Sub_Button {
    border: none;
    outline: none;
    width: 45%;
    height: 40px;
    background-color: #ed1b24;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    font-family: var(--font-Heading);
  }
  .Contact_Footer_Social_Icons_Container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    box-sizing: border-box;
  }
  .Footer_Links_Conatiner {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .Footer_Link_Text {
    font-size: 2rem;
    color: black;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .Footer_Icons_Conatiner {
    display: flex;
    width: 75%;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 50px;
  }
  .Footer_Divider {
    height: 0.25px;
    width: 80%;
    background-color: #666666;
    margin: 0 auto;
  }
  .Footer_Terms_Condition_Container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
  }
  .Footer_Terms_Wrapper {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .Footer_Text {
    font-size: 1.5rem;
    color: #1b1a1a;
    font-weight: 400;
    padding-left: 0px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .Footer_Text:hover {
    color: #ed1b24;
  }
  .Footer_Righs_Reserved_Text {
    font-size: 1.7rem;
    color: #1b1a1a;
    font-weight: 400;
    width: 80%;
    text-align: center;
    font-family: var(--font-subHeading);
  }
}

@media screen and (min-width: 551px) and (max-width: 850px) {
  .Footer_Main_Conatiner {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
  }
  .Footer_Bg_Container {
    width: 100%;
    height: 1180px;
    margin-top: 100px;
    background-image: url("../../Assets/Footer_Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    /* overflow: hidden; */
  }
  .Footer_Content_Main_Container {
    min-height: 50vh;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
  }
  .Footer_Loaction_Content_Conatiner {
    width: 90%;
    box-sizing: border-box;
    padding: 25px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    cursor: default;
  }
  .Footer_Place_Name_Text {
    font-size: 1.8rem;
    color: white;
    font-family: var(--font-Heading);
  }
  .Footer_Place_Address_Text {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    transition: ease-in-out 0.2s all;
    font-family: var(--font-subHeading);
  }
  .Footer_Wrapper_Content {
    width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: -15px;
    /* background-color: red; */
  }
  .Contact_Footer_Social_Main_Container {
    background-color: white;
    width: 100%;
    margin-top: -100px;
    border-radius: 0px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 40px;
  }
  .Contact_Sub_Text {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    width: 70%;
    text-align: center;
    margin-top: 15px;
  }
  .Contact_Sub_Button_Main_Container {
    width: 90%;
  }
  .input_container_Footer {
    border: 0.5px solid #666666;
    width: 50%;
    border-radius: 5px;
    padding: 3px 3px;
    background-color: white;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .Footer_Sub_Button {
    border: none;
    outline: none;
    width: 45%;
    height: 40px;
    background-color: #ed1b24;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    font-family: var(--font-Heading);
  }
  .Contact_Footer_Social_Icons_Container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    box-sizing: border-box;
    /* background-color: green; */
  }
  .Footer_Links_Conatiner {
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }
  .Footer_Link_Text {
    font-size: 2rem;
    color: black;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .Footer_Icons_Conatiner {
    display: flex;
    width: 50%;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 30px;
  }

  .Footer_Terms_Condition_Container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    margin: 0 auto;
    /* background-color: green; */
  }
  .Footer_Terms_Wrapper {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* background-color: green; */
  }
  .Footer_Text {
    font-size: 1.5rem;
    color: #1b1a1a;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .Footer_Text:hover {
    color: #ed1b24;
  }
  .Footer_Righs_Reserved_Text {
    font-size: 1.7rem;
    color: #1b1a1a;
    font-weight: 400;
    width: 50%;
    text-align: center;
    font-family: var(--font-subHeading);
    /* background-color: green; */
  }
  .Footer_Divider {
    margin-top: 15px;
    height: 1px;
    width: 100%;
    background-color: #666666;
  }
}

@media screen and (min-width: 851px) and (max-width: 1300px) {
  .Footer_Place_Name_Text {
    font-size: 1.8rem;
    color: white;
    font-family: var(--font-Heading);
  }
  .Footer_Place_Address_Text {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    transition: ease-in-out 0.2s all;
    font-family: var(--font-subHeading);
  }
  .Footer_Wrapper_Content {
    width: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: -80px;
  }
  .Contact_Sub_Text {
    font-size: 2.8rem;
    color: black;
    font-weight: bold;
    text-align: center;
  }
  .input_container_Footer {
    border: 0.5px solid #666666;
    width: 30vw;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: white;
    display: flex;
  }
  .Footer_Sub_Button {
    border: none;
    outline: none;
    width: 15vw;
    height: 40px;
    background-color: #ed1b24;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    font-family: var(--font-Heading);
  }
  .Footer_Link_Text {
    font-size: 1.8rem;
    color: black;
    font-family: var(--font-Heading);
  }
  .Footer_Links_Conatiner {
    display: flex;
    width: 43%;
    justify-content: space-between;
    cursor: pointer;
  }
}
